#####################
#
# Jenkins playbooks
#
#####################

[task-jenkins-master]
#

[task-jenkins-slave]
#

[task-jenkins-java]
#

[task-jenkins-js]
#

[task-jenkins-android]
#

[task-jenkins-sds]
#

#######################
#
# ELK stack playbooks
#
#######################

[task-elk-elasticsearch]
#

[task-elk-logstash]
#

[task-elk-kibana]
#

#####################
#
# Languages and Apps
#
#####################

[task-ruby]
#

[task-node]
#

[task-mariadb]
#
